<!-- To restrict unauthorized iframing https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy-->
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Barrel O' Bananos">
    <meta name="viewport" content="width=device-width">
    <title>Barrel O' Bananos</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <div id="all-contents">
      <h1 id="title">Barrel O' Bananos</h1>
      <div id="container">
        <img src="/bam.png" id="monkey-talk"/>
        <input type="text" id="address" name="address" placeholder="banano address here ban_1example42cool19..."/>
        <div id="button-container">
          <input type="button" value="GET BANANO" id="get-button">
          <input type="button" value="GIVE BANANO" id="give-button">
        </div>
        <div id="info-container">
          <p id="info">This widget gives free banano cryptocurrency to promote crypto literacy in a fun and casual way. Banano is feeless, instant and rich in potassium. Visit <a href="https://banano.how?src=barrel" target="_blank" rel="noopener noreferrer">banano.how</a> to learn more.</p>
        </div>
        <div id="captcha" style="display:none;">
          <!--Captcha widget and hidden address, this should be a form-->
        </div>
        <div id="footer">
          <span id="credit">Built by <a href="https://prussia.dev" target="_blank" rel="noopener noreferrer">Prussia</a> + <a href="https://www.devinmontes.com/" target="_blank" rel="noopener noreferrer"> Devin Montes</a></span>
          <span id="github"><a href="https://github.com/jetstream0/Barrel-O-Bananos-Widget" target="_blank" rel="noopener noreferrer">Github</a></span>
        </div>
      </div>
    </div>
    <script>
      //on click of get banano
      //on click of give banano
    </script>
  </body>
</html>