<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Barrel O' Bananos">
    <meta name="viewport" content="width=device-width">
    <title>Barrel O' Bananos</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <div id="all-contents">
      <h1 id="title">Barrel O' Bananos</h1>
      <div id="container">
        <div id="image-container">
          <div id="image-text">
            <p id="superimposed-text">Hey there friend, need some potassium?<br> Enter your banano address below and click 'GET BANANO' for FREE banano coins!</p>
          </div>
          <img src="/bam.png" id="bam"/>
        </div>
        <div id="initial-container">
          <input type="text" id="address-initial" name="address-initial" placeholder="banano address here ban_1example42cool19..."/>
          <div class="button-container">
            <input type="button" value="GET BANANO" id="get-button">
            <input type="button" value="GIVE BANANO" class="give-button">
          </div>
          <div id="info-container">
            <p id="info">This widget gives free banano cryptocurrency to promote crypto literacy in a fun and casual way. <span id="info-banano-optional">Banano is feeless, instant and rich in potassium.</span> Visit <a href="https://banano.how?src=barrel" target="_blank" rel="noopener noreferrer">banano.how</a> to learn more.</p>
          </div>
        </div>
        <div id="captcha-and-form" style="display:none;">
          <!--Captcha widget and hidden address, this should be a form-->
          <form method="POST" action="/">
            <input type="hidden" id="address" name="address"/>
            <div class="h-captcha" data-sitekey="{{ sitekey }}" style="margin-left: 1%;"></div>
            <div class="button-container">
              <input type="submit" value="CONTINUE" id="submit-claim">
              <input type="button" value="GO BACK" class="go-back" id="captcha-and-form-to-initial-container">
            </div>
          </form>
        </div>
        <div id="give-screen" style="display:none;">
          <div id="qr-code-container">
            <img src="/qrcode.png"></img>
          </div>
          <div id="other-part">
            <div id="give-info-container">
              <p id="give-info">{{ faucet_address }}</p>
            </div>
            <div id="give-button-container">
              <input type="button" value="GO BACK" class="go-back" id="give-screen-to-initial-container">
            </div>
          </div>
        </div>
        <div id="claim-screen" style="display:none;">
          <div class="button-container">
            <input type="button" id="claim-button">
            <input type="button" value="GIVE BANANO" class="give-button">
          </div>
          <div id="claim-info-container">
            <p id="claim-info"></p>
          </div>
        </div>
        <div id="footer">
          <span id="credit">Built by <a href="https://prussia.dev" target="_blank" rel="noopener noreferrer">Prussia</a> + <a href="https://www.devinmontes.com/" target="_blank" rel="noopener noreferrer"> Devin Montes</a></span>
          <span id="github"><a href="https://github.com/jetstream0/Barrel-O-Bananos-Widget" target="_blank" rel="noopener noreferrer">Github</a></span>
        </div>
      </div>
    </div>
    <script>
      function set_text_offset() {
        if (document.body.scrollHeight < 335 || document.body.scrollWidth < 335) {
          document.getElementById('image-text').style.marginBottom = "-"+String(document.getElementById('superimposed-text').getBoundingClientRect().height+40)+"px";
        } else if (document.body.scrollHeight < 350 || document.body.scrollWidth < 355) {
          document.getElementById('image-text').style.marginBottom = "-"+String(document.getElementById('superimposed-text').getBoundingClientRect().height+27)+"px";
        } else if (document.body.scrollHeight < 375 || document.body.scrollWidth < 375) {
          //if less than 375 pixels tall, add 5 more from marginbottom?
          document.getElementById('image-text').style.marginBottom = "-"+String(document.getElementById('superimposed-text').getBoundingClientRect().height+14)+"px";
        } else {
          document.getElementById('image-text').style.marginBottom = "-"+String(document.getElementById('superimposed-text').getBoundingClientRect().height)+"px";
        }
      }
      document.body.onload = set_text_offset;
      window.onresize = set_text_offset;
      function toggle_visibility(hide_div, show_div) {
        document.getElementById(hide_div).style.display = "none";
        document.getElementById(show_div).style.display = "block";
        set_text_offset();
      }
      //on click of get banano
      document.getElementById("get-button").onclick = function() {
        document.getElementById('superimposed-text').innerHTML = "Alrighty, let me fetch your bananos.<br>Wait a sec... not a robot are you? Take this test. If you aren't a bot, it should be NO PROBLEM!";
        document.getElementById("address").value = document.getElementById("address-initial").value;
        toggle_visibility("initial-container", "captcha-and-form");
      }
      Array.from(document.getElementsByClassName("give-button")).forEach(function(value, index, arr) {
        //gets the parent of the parent of the button
        value.onclick = function() {
          document.getElementById('superimposed-text').innerHTML = "Wow thank you generous monkey! Send BAN using the qr code or address below.<br>Your donation help keeps the stand running. YIPEE!";
          toggle_visibility(value.parentNode.parentNode.id, 'give-screen');
        }
      });
      Array.from(document.getElementsByClassName("go-back")).forEach(function(value, index, arr) {
        value.onclick = function() {
          let parts = value.id.split('-to-');
          let hide = parts[0];
          let show = parts[1];
          //for now the 'show' appears to always be the initial container. can change to dictionary later
          document.getElementById('superimposed-text').innerHTML = "Hey there friend, need some potassium?<br> Enter your banano address below and click 'GET BANANO' for FREE banano coins!";
          toggle_visibility(hide, show);        }
      });
    </script>
    {% if errors %}
      <script>
        function after_post() {
          document.getElementById('superimposed-text').innerHTML = "Hmm. That didn't work.<br>Check the error message."
          let errors = {{ errors | dump | safe }};
          if (errors == "Faucet dry") {
            document.getElementById('superimposed-text').innerHTML = "Oh bana-NO! It looks like I'm all out of coins at the moment...<br>Come back later, or consider giving some ban <3";
            toggle_visibility('initial-container', 'give-screen');
            return;
          }
          //set claim screen with error is applicable
          document.getElementById("claim-screen").style.display = "block";
          document.getElementById("initial-container").style.display = "none";
          let claim_button = document.getElementById('claim-button');
          document.getElementById('claim-info').innerText = "Error: "+errors;
          claim_button.value = "NOT CLAIMED";
          claim_button.classList.add('error-red');
        }
        after_post();
      </script>
    {% elif claimed %}
      <script>
        function after_post() {
          document.getElementById('superimposed-text').innerHTML = "Hahaha, first time? Struggled a bit there. Could you be a robot? Just teasing.<br>Come back tomorrow for more, or donate some to help out."
          toggle_visibility("initial-container", "claim-screen");
          let claim_button = document.getElementById('claim-button');
          claim_button.value = "CLAIMED";
          claim_button.classList.add('claimed-green');
          let to_address = {{ to_address | dump | safe }};
          let payout = {{ payout | dump | safe }};
          document.getElementById('claim-info').innerHTML = String(payout)+" Banano sent to <span class='address-in-info'>"+to_address+"</span><br>You can claim again in 24 hours"
        }
        after_post();
      </script>
    {% endif %}
  </body>
</html>